
#message-list { height: calc(100vh - 90px); padding: 16px 8px; background-color: #c6c5c5;}
#message-list .message .username,#message-list .message .content {
  display: inline-block; padding: 4px 0;
}
#message-list .message .username {  margin-right: 16px; overflow: hidden; font-weight: 700;}
#message-list .message .content {  flex: 85; }
#message-list .message.system { font-weight: 400; font-style: italic; }

.textcolour-menu {
  margin: 0px 5px;
}
.textcolour-menu:hover {
  color: white;
}
.wrapper { font-size: 14px; }
.system {
  font-size: .8em;
  color: red;
}

footer #new-message { flex: 7; }
footer #username { flex: 3; }

h1 {
  color: black;
}
html, body { max-height: 100vh; max-width: 100vw; font-family: 'Josefin Sans', sans-serif;}
nav { height: 40px;padding: 3px 12px; border-bottom: 1px solid black; }
nav h1 { font-size: 2em; margin: 0; width:25%; float:left; }
nav h4 {float: right; color: gray}
footer {
  height: 41px;
  border-top: 1px solid black;
  position: relative;
  background-color: tomato;
  display: flex; align-items: center;
}
footer input {
  border: 1px solid black;
  margin: 4px;
  height: 20px;
  padding: 4px 8px;
}
// COLOUR BLOCK
.colour-grid {
  display: none;
      height: 100px;
    width: 100px;
    position: absolute;
    background: white;
    z-index: 2;
    right: 0;
    bottom: 100%;
}
.colour-block {
  height: 100%;
  display: inline-block;
  opacity: .8;
  width: 33.33333%;
}
.colour-block:hover {
  opacity: 1;
}
.colour-row {
  height: 33.33333%;
  width: 100%;
}
#colour1 {
  background: #5853b2;

}
#colour2 {
  background: #ad67d3;

}
#colour3 {

  background: #d367bc;
}
#colour4 {

  background: #bc2323;
}
#colour5 {

  background: #23b7bc;
}
#colour6 {

  background: #23bc5b;
}
#colour7 {

  background: #727554;
}
#colour8 {

  background: #af6c28;
}
#colour9 {
  background: black;
}
